body{

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    background:#121212;

    color:white;

}

.sidebar{

    position:fixed;

    width:220px;

    height:100vh;

    background:#1a1a1a;

    padding:20px;

}

.sidebar h2{

    color:#00C853;

}

.sidebar ul{

    list-style:none;

    padding:0;

}

.sidebar li{

    padding:15px 10px;

    cursor:pointer;

    border-radius:8px;

    margin-bottom:5px;

}

.sidebar li:hover{

    background:#2a2a2a;

}

.content{

    margin-left:260px;

    padding:30px;

}

.card-container{

    display:flex;

    flex-wrap:wrap;

    gap:20px;

    margin-top:20px;

}

.card{

    background:#252525;

    width:220px;

    padding:20px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.3);

    transition:.3s;

    min-height:240px;

}

.card:hover{

    transform:translateY(-5px);

}

.card h2{

    color:white;

    margin:15px 0;

}

.card h3{

    color:#00C853;

    margin-top:0;

}

.card p{

    font-size:18px;

    margin:6px 0;

}

.card small{

    color:#999;

    display:block;

    margin-top:15px;

}

.big-card{

    background:#252525;

    margin-top:30px;

    padding:20px;

    border-radius:10px;

}

.positive{

    color:#00C853;

    font-weight:bold;

}

.negative{

    color:#ff5252;

    font-weight:bold;

}

.card strong{

    color:#00C853;

    font-size:14px;

}

.card p{

    margin:12px 0;

    line-height:1.5;

}

<div class="big-card">

    <h2>🤖 AI Market Analysis</h2>

    <h3>{{ analysis.sentiment }}</h3>

    <h4>
        Confidence :
        {{ analysis.confidence }}%
    </h4>

    <p>
        {{ analysis.summary }}
    </p>

</div>

#marketChart{

    width:100%;

    height:250px !important;

    max-height:250px;

}

.chart-container{

    position: relative;

    height: 300px;

    width: 100%;

}

#marketChart{

    width: 100% !important;

    height: 100% !important;

}

.market-card{

    cursor:pointer;

}

.market-card:hover{

    border:1px solid #00C853;

}